In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv("data_gempa_2020.csv")
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [3]:
dataset

,Year,Month,Day,Time,Lat,Lon,Depth,Mag,Region,Timestamp
0,2020,12,30,23:03:00,5.1231,125.2581,54.1,4.6,"38 km SW of Sarangani, Philippines",1609369380
1,2020,12,30,21:27:32,7.6359,126.9172,53.3,4.6,"40 km E of Baganga, Philippines",1609363652
2,2020,12,30,20:29:33,-6.6907,127.4441,393.4,4.5,"208 km NNE of Lospalos, Timor Leste",1609360173
3,2020,12,30,19:36:05,-6.8738,147.6965,68.4,4.5,"38 km SSW of Finschhafen, Papua New Guinea",1609356965
4,2020,12,30,19:10:20,-2.3988,127.4859,16.4,4.8,"163 km NNW of Ambon, Indonesia",1609355420
...,...,...,...,...,...,...,...,...,...,...
4044,2020,1,1,12:28:34,0.1936,121.5572,141.3,4.1,"38km S of Lemito, Indonesia",1577881714
4045,2020,1,1,06:01:14,-6.7009,129.7667,155.1,4.4,"219km NW of Saumlaki, Indonesia",1577858474
4046,2020,1,1,04:38:07,2.0047,126.7211,51.0,4.4,"146km WNW of Tobelo, Indonesia",1577853487
4047,2020,1,1,00:35:48,-5.3373,152.6003,32.9,4.6,"107km SSW of Taron, Papua New Guinea",1577838948
4048,2020,1,1,00:28:20,-5.3245,152.5514,40.2,5.1,"108km SSW of Taron, Papua New Guinea",1577838500

In [4]:
dataset.head()

,Year,Month,Day,Time,Lat,Lon,Depth,Mag,Region,Timestamp
0,2020,12,30,23:03:00,5.1231,125.2581,54.1,4.6,"38 km SW of Sarangani, Philippines",1609369380
1,2020,12,30,21:27:32,7.6359,126.9172,53.3,4.6,"40 km E of Baganga, Philippines",1609363652
2,2020,12,30,20:29:33,-6.6907,127.4441,393.4,4.5,"208 km NNE of Lospalos, Timor Leste",1609360173
3,2020,12,30,19:36:05,-6.8738,147.6965,68.4,4.5,"38 km SSW of Finschhafen, Papua New Guinea",1609356965
4,2020,12,30,19:10:20,-2.3988,127.4859,16.4,4.8,"163 km NNW of Ambon, Indonesia",1609355420

In [5]:
# dnama = dataset['Region'].str.extract(' ([A-Za-z]+)\,', expand=False)
# dnama.value_counts()

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [7]:
print(X)

[[2020 12 30 ... 54.1 4.6 '38 km SW of Sarangani, Philippines']
 [2020 12 30 ... 53.3 4.6 '40 km E of Baganga, Philippines']
 [2020 12 30 ... 393.4 4.5 '208 km NNE of Lospalos, Timor Leste']
 ...
 [2020 1 1 ... 51.0 4.4 '146km WNW of Tobelo, Indonesia']
 [2020 1 1 ... 32.9 4.6 '107km SSW of Taron, Papua New Guinea']
 [2020 1 1 ... 40.2 5.1 '108km SSW of Taron, Papua New Guinea']]

In [8]:
print(y)

[1609369380 1609363652 1609360173 ... 1577853487 1577838948 1577838500]

In [9]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='constant')
imputer.fit(X[:, 1:9])
X[:, 1:9] = imputer.transform(X[:, 1:9])

In [10]:
print(X)

[[2020 12 30 ... 54.1 4.6 '38 km SW of Sarangani, Philippines']
 [2020 12 30 ... 53.3 4.6 '40 km E of Baganga, Philippines']
 [2020 12 30 ... 393.4 4.5 '208 km NNE of Lospalos, Timor Leste']
 ...
 [2020 1 1 ... 51.0 4.4 '146km WNW of Tobelo, Indonesia']
 [2020 1 1 ... 32.9 4.6 '107km SSW of Taron, Papua New Guinea']
 [2020 1 1 ... 40.2 5.1 '108km SSW of Taron, Papua New Guinea']]

In [11]:
print(X)

[[2020 12 30 ... 54.1 4.6 '38 km SW of Sarangani, Philippines']
 [2020 12 30 ... 53.3 4.6 '40 km E of Baganga, Philippines']
 [2020 12 30 ... 393.4 4.5 '208 km NNE of Lospalos, Timor Leste']
 ...
 [2020 1 1 ... 51.0 4.4 '146km WNW of Tobelo, Indonesia']
 [2020 1 1 ... 32.9 4.6 '107km SSW of Taron, Papua New Guinea']
 [2020 1 1 ... 40.2 5.1 '108km SSW of Taron, Papua New Guinea']]

In [21]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [22]:
print(X)

[[1.0 12 30 ... 54.1 4.6 '38 km SW of Sarangani, Philippines']
 [1.0 12 30 ... 53.3 4.6 '40 km E of Baganga, Philippines']
 [1.0 12 30 ... 393.4 4.5 '208 km NNE of Lospalos, Timor Leste']
 ...
 [1.0 1 1 ... 51.0 4.4 '146km WNW of Tobelo, Indonesia']
 [1.0 1 1 ... 32.9 4.6 '107km SSW of Taron, Papua New Guinea']
 [1.0 1 1 ... 40.2 5.1 '108km SSW of Taron, Papua New Guinea']]

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [16]:
print(X_train)

[[1.0 11 17 ... 10.0 5.1 '85 km E of Port-Olry, Vanuatu']
 [1.0 7 6 ... 133.7 4.5 'Maug Islands region, Northern Mariana Islands']
 [1.0 4 19 ... 10.0 4.2 '138 km SW of Panguna, Papua New Guinea']
 ...
 [1.0 1 7 ... 433.8 4.0 '51km SW of Agrihan, Northern Mariana Islands']
 [1.0 12 9 ... 10.0 4.6 '117 km SW of Merizo Village, Guam']
 [1.0 9 20 ... 10.0 5.3 '83 km E of Cortes, Philippines']]

In [17]:
print(X_test)

[[1.0 4 30 ... 10.0 4.4 '123 km ENE of Amahai, Indonesia']
 [1.0 4 19 ... 32.7 4.3 '187 km SSW of Abepura, Indonesia']
 [1.0 8 17 ... 10.0 5.3 '239 km NE of Samarai, Papua New Guinea']
 ...
 [1.0 1 22 ... 10.0 4.7 '260km SW of Merizo Village, Guam']
 [1.0 7 13 ... 10.0 4.9 '106 km S of Lakatoro, Vanuatu']
 [1.0 12 16 ... 74.6 4.8 '92 km SE of Pondaguitan, Philippines']]

In [18]:
print(y_train)

[3584 2142 1305 ...   68 3813 2987]

In [19]:
print(y_test)

[1428 1300 2600 1336 1328  739  964  785  876 1070 1792 3756 2959 2513
 2444 2816  715 3491 2318 2435 3925 2470 3252 1220  840 3461  520 2853
 2084 3225  281 2264  179 2950 3838 3080  280 1522 1010 3608  632  544
 3438 2115 1082 2552 2031  514   37  838  655 3052 2483 1310 3749 1403
 2049 2061 2905 1699 1732 1197 3474  306  341 1725 3818 2508 3116 3848
 1368 1986 2863 1582  304 3339 1590 2629 3530  494    9 1079 2306  354
 2498 2906 1017 1108 1058  482 1248  591  154 3386 1339 2185 2238 3488
 2675 2892 2350 1354 1069  830 3829 2923 1015 2391  392 1184  403  750
 3404  690 2885 3191 2704 2832 2198  459 3279 3954  353 1233  650 3562
 1808 3689 3550 3553 2984 2304 1030 3595  286  530  303  504  898 3093
 3946 1286  358 2946 2311 2706  508 1084 3912 1437  610  204 2908 2638
 1839 3561 2809 2098 3628 2496  631 1098 2216 3558 2649 3682   92 4047
 3244 3514 1572 2500 2540 1495 1982  841  136 3443 2591 3095  548 3256
 2163 2732 1056 3277  100 2968 3058 1634 2087 2673 3887  199 3412 2453
 1519 1686 3168 3324  110 3370 3554 1703  672 2000  375  305  423  611
  575 4031 3174 1157  271 2222 1130 2030 1759 3523 1950 2327 2485 1767
 3119 3655 1284 3153 2233 3219 1209 4004 1795  365 2528 1103 2037  431
 1117  502 2642  213 1688 1445 3055  421 3717  475 1726 3950  333 3684
 3699 1752 1970  313 3861 1567  524  881 3091 3768  256 1565 4042 2886
 2954 3969 3824 1490 3845  911 4029 2726 3010 3958 3329 1381 2175 2406
 3792 2983 1531 2062  726 2535 2221 4011 3062 2314 3264 3817 2095 3610
 1357 2376 2290  441 2259 1438 3338 2652  846 1778 2712 1441  250  194
  481  733 1114  117  376 1946  682  702 3847 2281 2190 1528 3649 1243
 1154  832 1628  660 1134 1980 3456  572 3203 3363 1949 3258 3940 3955
 2002  424 1080 2056 1821 2920 1775 3330 3001  108 3193 2011  686 3567
 2297 2595 3703 2438 2220 3105 2234  827 2299 1574 3267 3937 3146 1593
 3083  195 2560 3879 2610  896 2955  947 1689 3632 1193 2089 2043 3949
 3348 3697 3862 1656 3854  513 2775  795 3044 3347  293 3299 2961 2149
 1252 1361 1595 1687 2283 2379 1702 3287  962 1611 2616 3416 2710  930
 3680  922 1879 1535 1275  458 2879 3202 3659 2671 2647 1314  378 1152
 2780 2192 1281 2038 3986 3303 1758  653 2530 2440 1658 2267 3650  725
  248  774  417  921 1551 1038 1935   28 3493 3107 1293 2551   23 2090
 2211 3139 1179 1198 2592 4035 1178 1924 3867 3212 3155 3727 3531 1320
 3435 3269 3891 2276  218 3275 1696  749 1061 1123 3042 1309 2328 1992
 1409  240 1442  141 3662  828  295 3613 2907  457 1892  742 2913 2352
  885 3300 4008  181   27  822  623 2881 1964 4003 2378 1226 2407 2757
  439  851 2321 1167 2631 1622  729 1404 2360  594 3194 1045  819  133
 1558  416  564  174 1812 1289 2793 2829 3343 1297 2998 2917  727  433
 1102  124 3938 2883 1440 2252 1764 3734 3064 3459 3018 1141 2153 1694
 3075 2546 3066 1919 2452 2417 3322 3135  436 2970 3178 3665 3471  648
 2752 2189 1321  673  438 1478 1169 2988 4045 2122 4041 1346  561 3387
 3645   15 2778  703  873 3490 1076 2889 3054 1327  887  754 2621 2840
 3157 2504 1353 3676 1149   89 2596 3730 2827 2003 1714  813 3485 3621
 2777  553  355 3022 3257 1325 3786 1424 1566  352 3877 1718 1600 2489
  916  120 2033 2877  201 2871 1784 2801 2092 3915 2811 3654 2313 3507
 1032 1930 3418 3794 3149 2151 2152 3922 3020 1356 2657  890 3249 3460
 2451 1185 1863 4020 3780 2017 1514 1814 1624 2636 1160  722 3117 1516
  412 3060 3450 2978 2925 3008 1675 2622  130  972 2653  491 1106  332
  158 3793 2974 1464 2635 1470 2400 3941 2646 1869 1615 2319 2423 1074
 2492 2767 1639 3382 1366 2008 2484 3497   97  994 2280 3666 3973 2720
 1132 1942 2799 1350 2294  719 2312 1539 3860  150 3719 3240 3959 2325
 3681 1362 3751 1270  956 1388 3606 3976   50 2226 3591  512 3475  275
  435 1118 3103 1690 3965 2668 1375 3747 1237 2482  287  613 1865 1201
 3651 1806 3270 2107 1287 2506 1855 2200  426 3564 1116 1707 2148 2021
 2884  985 3290 1955 1047  991 3035 2411 2197 1254  371  569 2589 1048
 3235 1024 1756 1493 1425 1712 1075  811  537 3843   58  277 2016 3292
 2545  109 3112 1916 1256 2434  469 3502 1772 2529 1578 3328 3757 3508
 2847 3142 4036  903  892 1307 3781 2005 3988  301 2223 3883]

In [24]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [25]:
print(y)

[4048 4047 4046 ...    2    1    0]

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [27]:
print(X_train)

[[1.0 11 17 ... 10.0 5.1 '85 km E of Port-Olry, Vanuatu']
 [1.0 7 6 ... 133.7 4.5 'Maug Islands region, Northern Mariana Islands']
 [1.0 4 19 ... 10.0 4.2 '138 km SW of Panguna, Papua New Guinea']
 ...
 [1.0 1 7 ... 433.8 4.0 '51km SW of Agrihan, Northern Mariana Islands']
 [1.0 12 9 ... 10.0 4.6 '117 km SW of Merizo Village, Guam']
 [1.0 9 20 ... 10.0 5.3 '83 km E of Cortes, Philippines']]

In [28]:
print(X_test)

[[1.0 4 30 ... 10.0 4.4 '123 km ENE of Amahai, Indonesia']
 [1.0 4 19 ... 32.7 4.3 '187 km SSW of Abepura, Indonesia']
 [1.0 8 17 ... 10.0 5.3 '239 km NE of Samarai, Papua New Guinea']
 ...
 [1.0 1 22 ... 10.0 4.7 '260km SW of Merizo Village, Guam']
 [1.0 7 13 ... 10.0 4.9 '106 km S of Lakatoro, Vanuatu']
 [1.0 12 16 ... 74.6 4.8 '92 km SE of Pondaguitan, Philippines']]

In [29]:
print(y_train)

[3584 2142 1305 ...   68 3813 2987]

In [30]:
print(y_test)

[1428 1300 2600 1336 1328  739  964  785  876 1070 1792 3756 2959 2513
 2444 2816  715 3491 2318 2435 3925 2470 3252 1220  840 3461  520 2853
 2084 3225  281 2264  179 2950 3838 3080  280 1522 1010 3608  632  544
 3438 2115 1082 2552 2031  514   37  838  655 3052 2483 1310 3749 1403
 2049 2061 2905 1699 1732 1197 3474  306  341 1725 3818 2508 3116 3848
 1368 1986 2863 1582  304 3339 1590 2629 3530  494    9 1079 2306  354
 2498 2906 1017 1108 1058  482 1248  591  154 3386 1339 2185 2238 3488
 2675 2892 2350 1354 1069  830 3829 2923 1015 2391  392 1184  403  750
 3404  690 2885 3191 2704 2832 2198  459 3279 3954  353 1233  650 3562
 1808 3689 3550 3553 2984 2304 1030 3595  286  530  303  504  898 3093
 3946 1286  358 2946 2311 2706  508 1084 3912 1437  610  204 2908 2638
 1839 3561 2809 2098 3628 2496  631 1098 2216 3558 2649 3682   92 4047
 3244 3514 1572 2500 2540 1495 1982  841  136 3443 2591 3095  548 3256
 2163 2732 1056 3277  100 2968 3058 1634 2087 2673 3887  199 3412 2453
 1519 1686 3168 3324  110 3370 3554 1703  672 2000  375  305  423  611
  575 4031 3174 1157  271 2222 1130 2030 1759 3523 1950 2327 2485 1767
 3119 3655 1284 3153 2233 3219 1209 4004 1795  365 2528 1103 2037  431
 1117  502 2642  213 1688 1445 3055  421 3717  475 1726 3950  333 3684
 3699 1752 1970  313 3861 1567  524  881 3091 3768  256 1565 4042 2886
 2954 3969 3824 1490 3845  911 4029 2726 3010 3958 3329 1381 2175 2406
 3792 2983 1531 2062  726 2535 2221 4011 3062 2314 3264 3817 2095 3610
 1357 2376 2290  441 2259 1438 3338 2652  846 1778 2712 1441  250  194
  481  733 1114  117  376 1946  682  702 3847 2281 2190 1528 3649 1243
 1154  832 1628  660 1134 1980 3456  572 3203 3363 1949 3258 3940 3955
 2002  424 1080 2056 1821 2920 1775 3330 3001  108 3193 2011  686 3567
 2297 2595 3703 2438 2220 3105 2234  827 2299 1574 3267 3937 3146 1593
 3083  195 2560 3879 2610  896 2955  947 1689 3632 1193 2089 2043 3949
 3348 3697 3862 1656 3854  513 2775  795 3044 3347  293 3299 2961 2149
 1252 1361 1595 1687 2283 2379 1702 3287  962 1611 2616 3416 2710  930
 3680  922 1879 1535 1275  458 2879 3202 3659 2671 2647 1314  378 1152
 2780 2192 1281 2038 3986 3303 1758  653 2530 2440 1658 2267 3650  725
  248  774  417  921 1551 1038 1935   28 3493 3107 1293 2551   23 2090
 2211 3139 1179 1198 2592 4035 1178 1924 3867 3212 3155 3727 3531 1320
 3435 3269 3891 2276  218 3275 1696  749 1061 1123 3042 1309 2328 1992
 1409  240 1442  141 3662  828  295 3613 2907  457 1892  742 2913 2352
  885 3300 4008  181   27  822  623 2881 1964 4003 2378 1226 2407 2757
  439  851 2321 1167 2631 1622  729 1404 2360  594 3194 1045  819  133
 1558  416  564  174 1812 1289 2793 2829 3343 1297 2998 2917  727  433
 1102  124 3938 2883 1440 2252 1764 3734 3064 3459 3018 1141 2153 1694
 3075 2546 3066 1919 2452 2417 3322 3135  436 2970 3178 3665 3471  648
 2752 2189 1321  673  438 1478 1169 2988 4045 2122 4041 1346  561 3387
 3645   15 2778  703  873 3490 1076 2889 3054 1327  887  754 2621 2840
 3157 2504 1353 3676 1149   89 2596 3730 2827 2003 1714  813 3485 3621
 2777  553  355 3022 3257 1325 3786 1424 1566  352 3877 1718 1600 2489
  916  120 2033 2877  201 2871 1784 2801 2092 3915 2811 3654 2313 3507
 1032 1930 3418 3794 3149 2151 2152 3922 3020 1356 2657  890 3249 3460
 2451 1185 1863 4020 3780 2017 1514 1814 1624 2636 1160  722 3117 1516
  412 3060 3450 2978 2925 3008 1675 2622  130  972 2653  491 1106  332
  158 3793 2974 1464 2635 1470 2400 3941 2646 1869 1615 2319 2423 1074
 2492 2767 1639 3382 1366 2008 2484 3497   97  994 2280 3666 3973 2720
 1132 1942 2799 1350 2294  719 2312 1539 3860  150 3719 3240 3959 2325
 3681 1362 3751 1270  956 1388 3606 3976   50 2226 3591  512 3475  275
  435 1118 3103 1690 3965 2668 1375 3747 1237 2482  287  613 1865 1201
 3651 1806 3270 2107 1287 2506 1855 2200  426 3564 1116 1707 2148 2021
 2884  985 3290 1955 1047  991 3035 2411 2197 1254  371  569 2589 1048
 3235 1024 1756 1493 1425 1712 1075  811  537 3843   58  277 2016 3292
 2545  109 3112 1916 1256 2434  469 3502 1772 2529 1578 3328 3757 3508
 2847 3142 4036  903  892 1307 3781 2005 3988  301 2223 3883]